<ion-view view-title="{{ subview.title }}">
  <ion-content class="padding">

    <div ng-if="subview.register">

      <br><br><br>
      <h2 style='text-align:center'>
        {{mertVersion}}
      </h2>
      <p style='text-align:center'>
        One Time Registration
      </p>
      <br>
      <br>

      <form ng-submit="registerUser()">
        <div class="list">
          <label class="item item-input">
          <span class="input-label">Username  </span>
          <input type="text" placeholder="Name" ng-model="user.name">
        </label>
          <label class="item item-input">
          <span class="input-label">Ticket</span>
          <input type="password" placeholder="Ticket issued by IT" ng-model="user.token">
        </label>
          <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
        </div>
      </form>

    </div><!-- end of subview.register -->

    <div ng-if="subview.tutorial">

      <h4 style='text-align:center'>
        Thanks for choosing the MERT App
      </h4>

      <p style='text-align:center'>
        We've worked super hard to make you happy.
      </p>
      <br>

      <ion-slide-box>
        <ion-slide>
          <div class="box 1">
            <p style='text-align:center'>
              <img src="img/adam.jpg" alt="Adam" style="height:300px; display:block; margin:0 auto;" />
            </p>
            <br><br>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box 2">
            <p style='text-align:center'>
              <img src="img/mike.png" alt="Mike" style="height:300px; display:block; margin:0 auto;" />
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box 3">
            <p style='text-align:center'>
              <img src="img/ben.png" alt="Ben" style="height:300px; display:block; margin:0 auto;" />
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box 4">
            <p style='text-align:center'>
              <img src="img/max.png" alt="Max" style="height:300px; display:block; margin:0 auto;" />
            </p>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box 5">
            <p style='text-align:center'>
              <img src="img/perry.png" alt="Perry" style="height:300px; display:block; margin:0 auto;" /> 
            </p>
          </div>
        </ion-slide>
      </ion-slide-box>
      <br>

      <p style='text-align:center'>
        Swipe to learn how to use this App.
      </p>

      <p style='text-align:center'>
        <button ng-click="start()" class="button button-block button-positive">Skip Tutorial. Use App!</button>
      </p>

    </div><!-- end of subview.tutorial -->

  </ion-content>
</ion-view>